<footer class="bg-gray-900">
    <div class="mx-auto max-w-md py-12 px-4 overflow-hidden sm:max-w-3xl sm:px-6 lg:max-w-7xl lg:px-8">
    <p class="text-center text-base text-gray-400 inline-flex items-center flex-wrap justify-center w-full">&copy; {{ now|date('Y') }} | Made with  
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-flex mx-1" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
        </svg> and Ron Swanson, courtesy of <a class="ml-1 underline" href="https://github.com/ljclark">Lewis Clark</a></p>
    </div>
</footer>